h3 Tasks

.row
  .col-xs-4.col-xs-offset-4
    form(name='taskForm')
      .form-group
        label(for='title') To-Do
        input#title.form-control(type='text', name='title', ng-model='task.title')
      .form-group
        label(for='dueDate') Due Date
        input#duedate.form-control(type='date', name='dueDate', ng-model='task.dueDate')
      .form-group
        label(for='priority') Priority
        select#priority.form-control(name='priority', ng-model='task.priority')
          option high
          option medium
          option low
      .form-group
        button.btn.btn-primary.form-control(type='submit', ng-click='addTask(task)', ng-hide='editingTask') Add Task
        button.btn.btn-success.form-control(type='submit', ng-click='saveTask(task)', ng-show='editingTask') Save Task
  .row
    .col-xs-12
      table.table.table-striped
        thead
          tr
            th Edit
            th Delete
            th(ng-click='sort("title")') Title
            th(ng-click='sort("dueDate")') Due Date
            th(ng-click='sort("priority")') Priority
            th(ng-click='sort("isComplete")') Complete
            th(ng-click='sort("createdAt")') Created
        tbody
          tr(ng-repeat='task in afTasks | orderBy:taskOrder', ng-class='{completed:task.isComplete}')
            td: button(ng-click='editTask(task)') Edit
            td: button(ng-click='deleteTask(task)') Delete
            td {{task.title}}
            td {{task.dueDate | date: 'dd MMM yyyy'}}
            td {{task.priority}}
            td: input(type='checkbox', ng-model='task.isComplete', ng-click='saveTask(task)')
            td {{task.createdAt | date: 'dd MMM yyyy'}}
          
